body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #B9CDED, #6D9DC5);
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-header {
    text-align: center;
    margin-bottom: 20px;
}
.page-header h1 {
    font-size: 2.5em;
    color: #4f82d4;
    margin: 0;
}
.page-header .description {
    font-size: 1em;
    color: #555;
    margin-top: 5px;
    margin-right: 50px;
}

.form-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
}
.form-container h2 {
    margin-bottom: 20px;
    text-align: center;
}
.form-container input {
    width: 93%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-container button {
    width: 100%;
    padding: 10px;
    background-color: #B9CDED;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.form-container button:hover {
    background-color: #0056b3;
}
.form-container .signup-link {
    text-align: center;
    margin-top: 10px;
}
.form-container .signup-link a {
    color: #007BFF;
    text-decoration: none;
}
.form-container .signup-link a:hover {
    text-decoration: underline;
}
 